<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>About</title>
</head>
<body>
    <a href="/shows">Go Back</a>
    <h1>TV Show {{show.id}}</h1>

    <h3>Title: {{show.title}}</h3>
    <h3>Network: {{show.network}}</h3>
     <h3>Release Date:{{show.releaseDate}} </h3>
     <h3>Description: </h3>
      <p>{{show.description}} <p>

    Last Updated:{{show.updated_at}}

    <a href="/shows/{{show.id}}/edit">Edit</a>|<a href="/shows/{{show.id}}/destroy">Delete</a>
    
</body>
</html>