<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Success</title>
    <style>
        body {
            font-family: sans-serif;
            background-color: black;
        }
        
        .rainbow-text {
            margin: 400px;
            background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    </style>


</head>

<body>
    <h1>Success! Welcome, {{Placeholder}}</h1>
    <h1 class="rainbow-text">{{request.session.user}} has SUCCESSFULLY registered (or logged in !</h1>
</body>
</html>